.page {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    flex: 1;
    flex-direction: column;
}

.tabs,
.form {
    inline-size: 100%;
}

.box {
    inline-size: 250px;
}

.title {
    margin-block-end: 32px;
    font-size: 24px;
    font-weight: 600;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-block-start: 8px;
}
