.login-form-forgot {
  float: inline-end;
  padding: 0;
  block-size: fit-content;
}
:global(.@{ant-prefix}-col-rtl).login-form-forgot {
  float: inline-start;
}

.login-form-button {
  margin-block-end: 15px;
  inline-size: 100%;
}

.form {
  inline-size: 100%;
}