.login-form-forgot {
  float: right;
  padding: 0;
  height: fit-content;
}
:global(.@{ant-prefix}-col-rtl).login-form-forgot {
  float: left;
}

.login-form-button {
  margin-bottom: 15px;
  width: 100%;
}

.form {
  width: 100%;
}