.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  flex: 1;
  flex-direction:  column;
}

.forgot-form {
  max-inline-size: 300px;
}

.title {
  margin-block-end: 32px;
  font-size: 24px;
  font-weight: 600;
}

.go-back {
  display: block;
  text-align: center;
  margin-block-start: 8px;
}
