.switch-lang {
  :global(.@{ant-prefix}-dropdown-menu-item) {
    svg {
      margin-inline-end: 5px;
      font-size: 30px;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 30px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  span {
    margin-inline-start: 5px;
    font-size: 12px;
    opacity: 0.45;
  }
}
