.logo {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon {
  width: 32px;
  height: 32px;
  background: url("@{favicon}") no-repeat center center / contain;
  margin-right: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
}