:root {
  --border-radius: 4px;
  --primary-bg: #f0f2f5;
}

body,
figure,
h1,
h4,
html,
p,
ul {
  margin: 0;
}

body {
  background-color: var(--primary-bg);
}

#root {
  inline-size: 100vi;
  block-size: 100vb;
  display: flex;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
}

.toolbox {
  position: absolute;
  inset-inline-end: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
