.beian {
    padding: 0 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-block-size: 73px;
    font-size: 12px;
    text-align: center;
    color: var(--disabled-color);
    background-color: transparent;
    flex-direction: column;
  
    a {
        color: var(--disabled-color);
    }
}